#! DO NOT SET REAL SECRET KEYS IN THIS FILE
#! USE .env FILE FOR DEVELOPMENT
#! USE .env.prod FILE FOR PRODUCTION
#! PLEASE UPDATE ANY USEFUL ENVIRONMENT VARIABLES TO `/backend/env.ts`

# Node environment
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
VITE_API_URL=/api

# PostgreSQL
# TODO: Avoid using default postgres user and use a dedicated `app` schema instead of `public`
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public

# Redis
# TODO: Avoid using default Redis user
REDIS_URL=redis://localhost:6379